# --- YOLO ---
YOLO_MODEL_PATH=models/best_nano_111.pt
YOLO_CONFIDENCE_THRESHOLD=0.35
YOLO_IOU_THRESHOLD=0.1

# --- Telegram ---
TELEGRAM_BOT_TOKEN=your_telegram_bot_token_here
TELEGRAM_CHAT_ID=your_telegram_chat_id_here

# --- FastAPI ---
APP_HOST=0.0.0.0
APP_PORT=8000